

@include respond-to(tablet){ 

/*------ Header Tablet --------*/

	//fix banner position
	#banner {
	    height: 96px;
	    width: 100%;
	    position: relative;
	    bottom: 60px;
	}
	
	.aui #heading{
	    bottom: initial; 
	    position: initial;
	}
	
	.aui #heading .site-title img{
	    width:initial;
	}
	
	//fix logo
	div #site-title{
	    height: 96px; 
	    float:left;
	}
	.logo {
	    width: initial;
	}

	//make header-content-container big enough to hold navbar
	#header-content-container{
            height: auto;
        }
	
	// hide other components
	.ist-topbar, .static-social-bookmark, .language-container{
	    visibility: hidden; 
	    height:0px; 
	    width:0px;
	}


		
	//Change div order using flexbox
	//add webkit for support reasons

	//set containers

	.flex-container{

		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: inline-flex;	//use flexbox

		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;	//break when insufficiant space 
	}

	.aui .row-fluid .width8of12{
		width: auto;
	    	float: none;
		-webkit-order: 3;
		-moz-order: 3;
		order: 3;	// third element thus below element 1 and 2
		margin: 0px;
		padding: 0px;
    	}
	
	.aui .row-fluid .width2of12right{
		width: 49%;
		float: left;
		margin: 0px;;
		padding: 2px;

		-webkit-order: 2;
		-moz-order: 2;
		order: 2;	// second element, thus to the right of element 1
	}
	
	.aui .row-fluid .width2of12left{
		width: 49%;
		float: left;
		margin: 0px;
		padding: 2px;

		-webkit-order: 1;
		-moz-order: 1;
		order: 1;	// first element, thus on the upper left corner
	}


	//set specified widths and margins

	 .aui .row-fluid .width5of12right, .aui .row-fluid .width5of12left {
		width: 61.5%;
		float: none;
		margin: 0px;
		padding: 2px;
	 }
	
	
	.aui .row-fluid .width3of12right, .aui .row-fluid .width3of12left{
		width: 36.5%;
		float: none;
		margin: 0px;
		padding: 2px;
	} 
	
	.aui .row-fluid .width4of12left, .aui .row-fluid .width4of12right{
		width: 49%; 
		float: none;
		margin: 0px;
		padding: 2px;
	}


/*------ Basics Tablet --------*/

	//font size
	.aui body {
   		font-size: 10px;
	}

	// padding
	.aui #wrapper {
   		padding-left: 0px;
    		padding-right: 4px;
	}

	// header was adjusted upwards (see: comment above: fix banner position); make the content follow:

	#content {
    		position: relative;
    		bottom: 60px;
	}

	
}
