/*------ Header Tablet --------*/

@media (max-width: 979px){

	//fix banner position
	#banner {
	    height: 96px;
	    width: 100%;
	    position: relative;
	    bottom: 60px;
	}
	
	.aui #heading{
	    bottom: initial; 
	    position: initial;
	}
	
	.aui #heading .site-title img{
	    width:initial;
	}
	
	//fix logo
	div #site-title{
	    height: 96px; 
	    float:left;
	}
	.logo {
	    width: initial;
	}
	
	// hide other components
	.ist-topbar, .static-social-bookmark, .language-container{
	    visibility: hidden; 
	    height:0px; 
	    width:0px;
	}

}
