/* ---------- login styles ---------- */
.login-description-article { max-width: 50%; float: right;}
.login-content { max-width: 50%; float: left;}
.login-navigation { max-width: 100%; clear: both;}

/* ---------- registration styles ---------- */
.registration-content { max-width:70%; float:left; }
.registration-description-article { max-width:30%; float:right; }
.registration-navigation { max-width:100%; clear: both; }

/* ---------- footer styles ---------- */
/* Todo Review: pleae found out whats the difference btwn. div.bla and .bla */ 

div.politaktiv-theme-footer {
  border-top: 1px solid #000000;
  text-align: center;
}

div.politaktiv-theme-footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

div.politaktiv-theme-footer ul li {
  float: left;
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  margin: 5px 15px 5px 15px;
}

div.politaktiv-theme-footer ul li a {
  text-decoration: none;
  color: #000000;
  font-size: inherit;
  font-weight: inherit;
}

#footer {
  text-align: right;
}

/*-------------- Header-Alignment-----------*/
.site-title{
   float:left;
}

#communityName-languagePortlet-container{
  float:left;
}

#heading{
  height:81px; /*height of politaktiv logo = velocity variable $site_logo_height */
  margin:20px; 
}



