

@include respond-to(tablet){ 

/*------ Header Tablet --------*/

	//fix banner and heading position
	#banner {
	    height: 64px;
	    width: 100%;
	    position: relative;
	    bottom: 69px;
	}
	
	.aui #heading{
	    bottom: auto; 
	    height: 64px;
	    width: 100%;
	}

	#header-content-container{
            height: 64px; 
	    width: 60%; //value empiric
        }


	.aui #banner .header-content{
            height: 38px;
	    line-height: 40px;
        }
        
	// header background image
    	#header-background-image{
    	    height: 61px !important;
    	}
	
	//logo
	.aui #heading .site-title img{
	    width: 110px !important;
	    height: 50px;
	    padding-top: 5px;
	}

	.aui #heading .site-title{
	    height: 64px;
	}
	
	div #site-title{
	    height: 64px; 
	    float:left;
	    width: 188px; // =  navbar width
	}


	#pa-logo {
	    width: 188px;
	}


	
	// hide other components
	.ist-topbar, .static-social-bookmark, .language-container{
	    visibility: hidden; 
	    height:0px; 
	    width:0px;
	}


/*------ Content Boxes Tablet --------*/
		
	//Change div order using flexbox
	//add webkit for support reasons

	//set containers

	.flex-container{

		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: inline-flex;	//use flexbox

		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;	//break when insufficiant space 
	}

	.aui .row-fluid .width8of12{
		width: inherit;
	    	float: none;
		-webkit-order: 1;
		-moz-order: 1;
		order: 1;	// first element, thus above
		margin: 0px;
		padding: 0px;
    	}
	
	.aui .row-fluid .width2of12right{
		width: 49%;
		float: left;
		margin: 0px;;
		padding: 2px;

		-webkit-order: 3;
		-moz-order: 3;
		order: 3;	// second element, thus below element 1
	}
	
	.aui .row-fluid .width2of12left{
		width: 49%;
		float: left;
		margin: 0px;
		padding: 2px;

		-webkit-order: 2;
		-moz-order: 2;
		order: 2;	// third element
	}


	//set specified widths and margins

	 .aui .row-fluid .width5of12right, .aui .row-fluid .width5of12left {
		width: 61.5%;
		float: none;
		margin: 0px;
		padding: 2px;
	 }
	
	
	.aui .row-fluid .width3of12right, .aui .row-fluid .width3of12left{
		width: 36.5%;
		float: none;
		margin: 0px;
		padding: 2px;
	} 
	
	.aui .row-fluid .width4of12left, .aui .row-fluid .width4of12right{
		width: 49%; 
		float: none;
		margin: 0px;
		padding: 2px;
	}


/*------ Basics Tablet --------*/

	//font size
	.aui body {
   		font-size: 10px;
	}

	// padding
	.aui #wrapper {
   		padding-left: 1px;
    		padding-right: 1px;
	}

	// header was adjusted upwards (see: comment above: fix banner position); make the content follow:

	#content {
    		position: relative;
    		bottom: 60px;
	}

	
}
