<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">	
		<div id="heading">
		
	            <div class="ist-topbar">
	             	<span> $istTopBarContent </span>
		    </div>
		    <div id="site-title"> 
	
			<h1 class="site-title">
				<a id="pa-logo" class="$logo_css_class" href="$company_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description"  src="$site_logo"  />
	
					#if ($show_site_name)
						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name 
						</span>
					#end
				</a>
			</h1>
		   </div>			
  		   <div id="header-content-container">
			#if($headerBackgroundImageLink) #* works because null is evaluated as false*#
				<div id="header-background-image" style="background-image: url($headerBackgroundImageLink);">
					#*div exists to provide absolute background-picture position*#
				</div>
			#end
		      	<h2 class="header-content">
		        	<span>$community_name</span>
		      	</h2>	    
		 	<nav id="breadcrumbs">#breadcrumbs()</nav>

		   </div>
	
		   <div class="static-social-bookmark">
	     		<span> $staticSocialBookmarkContent </span>
		   </div>
		        
		        
		   <div class="language-container">      
		          $theme.runtime('82', '', $velocityPortletPreferences.toString())
	     	   </div>
		</div>
	
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end

	</header>
	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
	#if ($canSetSmartphoneContent)
		<div id="smartphone-content-control">
			<p> Dies ist eine Funktion für die Moderatoren und Administratoren von Politaktiv. Sollten Sie die unten stehende Schaltfläche als normaler Nutzer von Politaktiv sehen, so bitten wir Sie, uns auf diesen Fehler hinzuweisen. </p>
			
			<button id="smartphone-content-toggle">
				Smartphone-Content-Anzeige umschalten
			</button> 
			
			<script>
			document.getElementById('smartphone-content-toggle').onclick = function() {
    			var div = document.getElementById('smartphone-only-content-container');
   				if (div.style.display !== 'block') {
        			div.style.display = 'block';
    			}
    			else {
        			div.style.display = 'none';
    			}
			};
			</script>
		</div>
	#end

	<footer id="footer" role="contentinfo">
		<span> $footerContent </span>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>